* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 55vh; 
    width: 45%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px; 
}

.display #screen {
    width: 100%;
    height: 75px;
    font-size: 35px;
    border: none;
    text-align: right;
    padding-right: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
}

.btns {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.btns .row button {
    width: 15%; 
    height: 45px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
}