* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    height: 57vh; 
    width: 47%;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 400px; 
    border: 2px solid black;
}

.display #screen {
    width: 100%;
    height: 75px;
    font-size: 35px;
    border: 1px solid black;
    text-align: right;
    padding-right: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: rgb(229, 229, 229);
}

.btns {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.btns .row button {
    width: 15%; 
    height: 45px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 6px;

}